:root {
  --bg-color: #f4f4f4;
  --text-color: #000;
  --primary-color: blue;
}

.dark-theme {
  --bg-color: #222;
  --text-color: #f4f4f4;
  --primary-color: lightblue;
}

.light-theme {
  --bg-color: #f4f4f4;
  --text-color: #000;
  --primary-color: blue;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.change-theme {
  background-color: var(--primary-color);
}
